.container-cliente{
    height: 100vh;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.card-cliente{
    height: 150px;
    width: 300px;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    border: 5px solid black;
    border-radius: 20px;
}
.card-cliente img{
    height: 50px;
    border-radius: 50%;
    margin: 10px;
}
.card-cliente p {
    font-size: 14px;
}