footer{
    height: auto;
    padding: 1rem;
    width: 100%;
    display: flex;
    align-items: center;
    font-family: sans-serif;
    background-color: rgb(0, 0, 0);
    color: white;
}
.sobre{
    width: 40%;
    height: 100%;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.logo-footer{
    height: 100px;
}
img{
    height: 100%;
}
.menu-footer{
    width: 80%;
    margin-top: .6rem;
    padding: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu-footer a{
    font-size: 14px;
    padding: .6rem 1rem;
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-transform: uppercase;
}
.menu-footer a:not(:last-child){
    border-right: 1px solid rgb(255, 255, 255);
}
.termos-container{
    width: 100%;
    height: 100%;
    display: flex;
}
.h3-footer{
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 1rem;
}
.contacto{
    width: 100%;
    height: 100%;
    padding: 0 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hora-trabajo{
    padding: 0 1rem;
}
.dias-de-la-semana{
    width: 18rem;
    line-height: 22px;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
}
.dias-de-la-semana:hover{
    color: orangered;
}
@media (max-width:1270px){
    footer{
        padding: 1rem;
    }
    .sobre{
        flex-direction: column;
    }
    .h3-footer{
        font-size: 16px;
    }
    .logo-footer{
        height: 70px;
    }
    .menu-footer{
        display: flex;
        flex-wrap: wrap;
    }
    .menu-footer a{
        font-size: 12px;
        padding: .6rem .8rem;
    }
    .donde{
        padding: 0 1rem;
    }
    .donde > p{
        font-size: 14px;
    }
    .dias-de-la-semana{
        width: 16rem;
        font-size: 14px;
    }
}
@media (max-width:968px) {
    footer{
        padding: 1rem;
        width: 100vw;
        display: flex;
        flex-direction: column;
    }
    .sobre{
        width: 100%;
        height: 50%;
        padding: 0;
        flex-direction: column;
    }
    .menu-footer{
        width: 100%;
/*         display: flex;
        flex-wrap: wrap; */
    }
    .menu-footer a{
        padding: .6rem .6rem;
    }
    .termos-container{
        width: 100%;
        height: 50%;
        margin-top: 1rem;
        justify-content: center;
        align-items: center;
    }
    .h3-footer{
        margin: .5rem 0;
    }
    .contacto{
        width: 100%;
        padding: 0 3rem;
        flex-direction: column;
    }
    .donde{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .hora-trabajo{
        margin-top: 1rem;
    }
    .dias-de-la-semana{
        width: 18rem;
        line-height: 22px;
        text-transform: uppercase;
        display: flex;
        justify-content: space-between;
    }
}